# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2026 Oppeko

set timeout=0
set default=0
set gfxpayload=text
terminal_output console

menuentry "AOS (InfantOS) v3 - Hybrid Kernel" {
    multiboot2 /boot/kernel.bin
    module2 /boot/initrd.img
    module2 /boot/fat32.img
    module2 /boot/ext4.img
    boot
}
